*{
  padding: 0;
  margin: 0;
}
.shortcut {
  height: 52px;
  background-color: #333;
}

.shortcut .wrapper {
  display: flex;
  justify-content: flex-end;
  height: 52px;
}

.shortcut ul {
  display: flex;
  line-height: 52px;
}

.shortcut li a {
  padding: 0 15px;
  color: #fff;
  font-size: 14px;
  border-right: 1px solid #999;
}

.shortcut li a:hover {
  border-bottom: 2px solid #5eb69c;//
  color: #5eb69c;
}

.shortcut li:last-child a {
  border: 0;
}

.shortcut li .iconfont {
  margin-right: 4px;
  vertical-align: middle;
}

/* .shortcut li:first-child a {
  color: #5eb69c;
} */

.header {
  display: flex;
  margin-top: 22px;
  margin-bottom: 22px;
  height: 88px;
}

.header .logo {
  width: 200px;
  height: 88px;
  margin-right: 40px;
}

.header .logo a {
  display: block;
  width: 200px;
  height: 88px;
  background-image: url(../images/logo.png);
  font-size: 0;
}

.nav {
  margin-top: 33px;
  margin-right: 28px;
}

.nav ul {
  display: flex;
}

.nav ul li {
  margin-right: 47px;
}

.nav li a {
  padding-bottom: 10px;
}

.nav li a:hover {
  border-bottom: 2px solid #5eb69c;
  color: #5eb69c;
}

.search {
  display: flex;
  margin-top: 33px;
  margin-right: 45px;
  width: 170px;
  height: 34px;
  border-bottom: 2px solid #f4f4f4;
}

.search .iconfont {
  margin-right: 8px;
  font-size: 18px;
  color: #ccc;
  /* vertical-align: middle; */
}

.search input {
  flex: 1;
  width: 0;
}

.search input::placeholder {
  color: #ccc;
  font-size: 16px;
}

.cart {
  position: relative;
  margin-top: 32px;
}

.cart .iconfont {
  font-size: 24px;
}

.cart i {
  position: absolute;
  top: 1px;
  /* right: -6px; */
  left: 13px;
  padding: 0 6px;
  height: 15px;
  background-color: #e23237;
  border-radius: 8px;
  font-size: 14px;
  color: #fffefe;
  line-height: 15px;
}

.banner {
  height: 500px;
  background-color: #f5f5f5;
}

.banner .wrapper {
  position: relative;
  height: 500px;
  overflow: hidden;


}

.banner .pic {
  display: flex;
  width: 3720px;

}

.subnav {
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.7);
}

.subnav li {
  display: flex;
  padding-left: 30px;
  padding-right: 14px;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  color: #fff;
  position: relative;
  transition: 0.3s ease-in-out;

}

.subnav li a {
  font-size: 14px;
  margin-right: 5px;
  color: #fff;
  text-decoration: none;
}

.subnav li .classify {
  margin-right: 14px;
  font-size: 16px;
}

.subnav li .iconfont {
  font-size: 14px;
}

.subnav li:hover {
  background-color: #00be9a;
}

.subnav li .submenu-content {
  display: none;
  position: absolute;
  top:0;
  left: 250px; /* 设置二级菜单的初始位置在主菜单的右侧 */

  width: 800px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #ddd;
  padding: 20px;
  z-index: 1000;
  transition:  0.3s ease-in-out; /* 添加过渡效果 */
}

.subnav li:hover .submenu-content {
  display: block;
  right: 0; /* 鼠标悬停时将二级菜单的位置移至主菜单的右侧 */
  transition: 0.5s ease-in-out;

}

/* 其他样式 */

.banner ol {
  position: absolute;
  bottom: 17px;
  right: 16px;
  display: flex;
}

.banner ol li {
  margin-left: 8px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
}

.banner ol i {
  display: block;
  margin: 4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}


.banner ol .current i {
  background-color: #fff;
}

.banner ol .current {
  background-color: rgba(255, 255, 255, 0.5);
}



/* 底部 */
.footer {
  height: 580px;
  background-color: #f5f5f5;
}

.service {
  padding: 60px 0;
  height: 178px;
  border-bottom: 2px solid #e8e8e8;
}

.service ul {
  display: flex;
  justify-content: space-evenly;
}

.service li {
  display: flex;
  width: 190px;
  height: 58px;
}

.service h5 {
  margin-right: 20px;
  width: 58px;
  height: 58px;
  background-image: url(../images/sprite.png);
}

.service li p {
  font-size: 28px;
  line-height: 58px;
}

.service li:nth-child(2) h5 {
  background-position: 0 -58px;
}

.service li:nth-child(3) h5 {
  background-position: 0 -116px;
}

.service li:nth-child(4) h5 {
  background-position: 0 -174px;
}

.help {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  height: 300px;
}

.help .left {
  display: flex;
}

.help .left dl {
  margin-right: 84px;
}

.help .left dl:last-child {
  margin-right: 0;
}

.help .left dt {
  margin-bottom: 30px;
  font-size: 18px;
}

.help .left dd {
  margin-bottom: 10px;
}

.help .left a {
  color: #969696;
}

.help .left .iconfont {
  color: #5eb69c;
}

.help .right ul {
  display: flex;
}

.help .right li:first-child {
  margin-right: 55px;
}

.help .right .pic {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.help .right p {
  color: #969696;
  text-align: center;
}

.copyright {
  text-align: center;
}

.copyright p {
  margin-bottom: 10px;
  color: #a1a1a1;
}

.copyright p a {
  color: #a1a1a1;
}
